In [25]:
#en este caso mexclaremos la funcin lambida con el metidi apply
import pandas as pd
import numpy as np

In [26]:
df_jugadores=pd.read_csv("/content/players_20 (1).csv")
df_jugadores.head(4)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_jugadores.set_index("short_name" , inplace=True)
#seleccciono las columnas que voy a usar
df_jugadores=df_jugadores[["player_url","long_name","age","dob","height_cm","weight_kg","nationality","club"]]

In [28]:
df_jugadores.head(3)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [29]:
#las funciones normalmente se ven asi
def sumar(a,b):
  x=a+b
  return(x)

In [30]:
sumar(29,24)

53

In [31]:
from binascii import b2a_base64
def modulo(a,b):
  y=a%b
  return(y)

In [32]:
modulo(25,2)

1

In [33]:
#ahora vamos a ver como se hacen las funciones usando lambda
#primero se asigna el nombre luego asignamos el valor luego los parametros lueg dos puntos y por ultimo el output
sumar_2=lambda a,b:a+b

In [34]:
sumar_2(39,39)

78

In [35]:
modulo_2=lambda a,b:a%b
modulo_2(25,2)

1

In [36]:
#ahora usemos apply con lambda
#vamos a pasar los centimetros a metros en la informacion del jugador
#en este caso si usamos apply no necesitamos poner el nombre a la funcion
df_jugadores["height_cm"].apply(lambda x:x/100)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [37]:
df_jugadores["age"].apply(lambda x:x*12)

short_name
L. Messi             384
Cristiano Ronaldo    408
Neymar Jr            324
J. Oblak             312
E. Hazard            336
                    ...
Shao Shuai           264
Xiao Mingjie         264
Zhang Wei            228
Wang Haijian         216
Pan Ximing           312
Name: age, Length: 18278, dtype: int64

In [38]:
#si quisiera enredarme menos para convertir los cm a metros
df_jugadores["height_cm"]/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [39]:
df_jugadores["age"]*12

short_name
L. Messi             384
Cristiano Ronaldo    408
Neymar Jr            324
J. Oblak             312
E. Hazard            336
                    ...
Shao Shuai           264
Xiao Mingjie         264
Zhang Wei            228
Wang Haijian         216
Pan Ximing           312
Name: age, Length: 18278, dtype: int64

In [40]:
#tambien podemos pasar los nombts de los jugadores a mayusculas
df_jugadores["long_name"].apply(lambda x:x.upper)

short_name
L. Messi             <built-in method upper of str object at 0x7d6e...
Cristiano Ronaldo    <built-in method upper of str object at 0x7d6e...
Neymar Jr            <built-in method upper of str object at 0x7d6e...
J. Oblak             <built-in method upper of str object at 0x7d6e...
E. Hazard            <built-in method upper of str object at 0x7d6e...
                                           ...
Shao Shuai           <built-in method upper of str object at 0x7d6e...
Xiao Mingjie         <built-in method upper of str object at 0x7d6e...
Zhang Wei            <built-in method upper of str object at 0x7d6e...
Wang Haijian         <built-in method upper of str object at 0x7d6e...
Pan Ximing           <built-in method upper of str object at 0x7d6e...
Name: long_name, Length: 18278, dtype: object

In [41]:
df_jugadores["long_name"].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [44]:
#tambien puedo usar lambda para extraer partes de fechas
#primero debemos garantizar que la columna fecha este en modo date
df_jugadores["dob"]=pd.to_datetime(df_jugadores["dob"])

In [45]:
#ahora extraemos los años solo con la funcion
df_jugadores["dob"].apply(lambda x:x.month)

short_name
L. Messi             6
Cristiano Ronaldo    2
Neymar Jr            2
J. Oblak             1
E. Hazard            1
                    ..
Shao Shuai           3
Xiao Mingjie         1
Zhang Wei            5
Wang Haijian         8
Pan Ximing           1
Name: dob, Length: 18278, dtype: int64

In [49]:
df_jugadores["dob"].apply(lambda x:x.month_name())

short_name
L. Messi                 June
Cristiano Ronaldo    February
Neymar Jr            February
J. Oblak              January
E. Hazard             January
                       ...
Shao Shuai              March
Xiao Mingjie          January
Zhang Wei                 May
Wang Haijian           August
Pan Ximing            January
Name: dob, Length: 18278, dtype: object

In [57]:
#peso sobre altura al cuadrado
df_jugadores.apply(lambda x:x["weight_kg"]/((x["height_cm"]/100)**2),axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

TypeError: 'function' object is not subscriptable